*{margin: 0; padding: 0;}
:root{
    --header-height: 5%;
    --historic-info-width: 30%;
    --timeline-height: 10%;
    --settings-width: 10%;

    --color1: #D9BB84;
    --color2: #F2DBAE;
    --color3: #A68053;
    --color4: #735438;
    --color5: #402319;
}
body{
    overflow: hidden;
}
#header{
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    background-color: var(--color5);
    color: var(--color2);
    width: 100vw;
    height: var(--header-height);
    z-index: 1;
    font-size: 1em;
}
#header > span:last-of-type{
    display: flex;
    justify-content: space-around;
}
#header > span{
    width: 50%;
}
#header > span > a{
    padding: 10px;
}
#header > span > a:hover{
    background-color: var(--color4);
}
a:visited, a:link{
    color: var(--color2);
    text-decoration: none;
}
#settings-button{
    position: absolute;
    left: var(--settings-width);
    bottom: 20%;
    z-index: 2;
    background-color: var(--color4);
    border: none;
}
#historic-info-button{
    position: absolute;
    margin-right: -5px;
    right: var(--historic-info-width);
    bottom: 80%;
    z-index: 2;
    background-color: var(--color4);
    border: none;
}
#timeline-div-button{
    position: absolute;
    left: 15%;
    margin-bottom: -5px;
    bottom: var(--timeline-height);
    z-index: 2;
    background-color: var(--color3);
    border: none;
}
#header-button{
    position: absolute;
    left: 65%;
    top: var(--header-height);
    z-index: 2;
    background-color: var(--color5);
    border: none;
}
button > img{
    height: 40px;
    width: 40px;
    padding: 3px;
    -webkit-user-drag: none;
    cursor: pointer;
}
#svg-container{
    width: 100vw;
    background-color:var(--color2);
    height: 100vh;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    float: left;
}
svg{
    position: absolute;
}
#historic-info{
    font-family: "EB Garamond", serif;
    padding-top: 20px;
    float: right;
    width: var(--historic-info-width);
    text-align: center;
    position: fixed;
    top: var(--header-height);
    right: 0;
    height: calc(100vh - (var(--header-height) + var(--timeline-height) + 50px));
    background-color: #735438;
    opacity: 100%;
    overflow-y: auto;
    color: #F2DBAE;
}
#historic-info > h1, #historic-info > h2, #historic-info > h3{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 0;
}
#political-system, #national-symbols{
    display: flex;
    justify-content:space-evenly;
}
#political-system > *{
    width: calc(100%/3);
}
#national-symbols > *{
    width: calc(100%/2)
}
#description{
    margin: 0 10%;
}
audio{
    background-color: var(--color1);
    border-radius: 2px;
    height: 30px;
}
audio::-webkit-media-controls-panel {
    background-color: var(--color1);
  }
#settings{
    top: var(--header-height);
    left: 0;
    position: fixed;
    width: var(--settings-width);
    height: calc(100vh - (var(--header-height) + var(--timeline-height)));
    background-color: var(--color4);
    color: var(--color1);
    font-family: 'Courier New', Courier, monospace;
}
#settings > h2{
    padding: 15px 0;
    color: var(--color2);
    font-size: 2em;
    text-align: center;
}
#settings > h3{
    text-align: center;
}
#settings > span > p{
    margin-left: 30px;
    padding-top: 5px;
    display: flex;
    align-items: center;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0 8px;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color1);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: var(--color5);
}
input[type="checkbox"]::before {
    content: "✓";
    font-size: 1.2em;
    font-weight: bolder;
    position: relative;
    top: -3px;
    right: -2px;
    text-align: center;
    color: var(--color2);
    visibility: hidden;
}
input[type="checkbox"]:checked::before {
    visibility: visible;
}
#timeline-div{
    clear: both;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    width: 100vw;
    height: var(--timeline-height);
    background-color: #A68053;
}
#timeline-div > *{
    display: flex;
    align-items: center;
    padding: 5px;
}
#timeline{
    width: 80vw;
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color4);
    border-radius: 5px;
    height: 35%;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color5);
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
input[type=text]{
    border: none;
    background-color: var(--color3);
    font-size: 20px;
    font-weight:750;
    text-align: center;
}
input[type=text]:hover{
    color: var(--color5);
}
#date_input-span > button{
    margin: 0 10px;
    margin-bottom: 5px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
}
#date_input-span > button:hover{
    cursor:pointer;
}
#date_input-span > button > img{
    width: 100%;
    height: auto;
}
#end_date, #start_date, #date_input{
    width: 105px;
    padding: 0 5px;
}
.flip{
    transform: scaleX(-1);
}
#buttons{
    display: flex;
    float: right;
    width: var(--historic-info-width);
    height: 50px;
    justify-content: space-between;
    position: fixed;
    bottom: var(--timeline-height);
    right: 0;
}
#buttons>*{
    width: calc(100%/3);
    border: none;
    
}
.available, .active, .locked{
    font-size: 1.2em;
}
.available{
    background-color: var(--color1);
    color: var(--color5);
}
.available:hover{
    background-color: var(--color3);
    cursor: pointer;
}
.active{
    background-color: var(--color4) ;
    color: var(--color2);
}
.locked{
    background-color: grey ;
    color: black;
}
.Belgium:hover{
    fill: orange;
}
img{
    height: 100px;
    max-width: 100%;
}
hr{
    margin: 10px auto;
    height: 3px;
    width: 75%;
    border: none;
    background-color: var(--color3);
}
ul{
    list-style-type: none;
    margin:5px auto;
    width: 80%;
}
li{
    display: inline;
}
#information{
    position: absolute;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
    width: calc(100vw - 40px);
    padding: 20px;
    background-color: var(--color4);
    color: var(--color2);
    line-height: 1.5;
    font-size: large;
}
#information > h2{
    color: #F5F5DC;
}
em{
    background-color: var(--color1);
    color: var(--color5);
    font-weight: bold;
    font-style: normal;
}
#information > a{
    color: var(--color5);
    font-weight: bolder;
}
