#svg-container{
    width: 60%;
    height: 800px;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    float: left;
}
svg{
    position: absolute;
}
#Benelux{
    top: 0;
    left: 0;
    width: 1000px;
}
#obiekt2{
    top: 500px;
    left: 500px;
    width: 100px;
}
#historic-info{
    float: right;
    width: 35%;
    border: 2px solid black;
    text-align: center;
    height: 750px;
    position: relative;
    overflow-y: scroll;
}
#political-system, #national-symbols{
    display: flex;
    justify-content:space-evenly;
}
#settings{
    border: 1px solid black;
    clear: both;
}
#buttons{
    display: flex;
    float: right;
    width: 35%;
    border: 1px solid black;
    height: 50px;
    margin-right: 1px;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
}
#buttons>*{
    width: calc(100%/3);
}
.Belgium:hover{
    fill: orange;
}
img{
    height: 100px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}
