#svg-container{
    width: 60%;
    height: 800px;
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    float: left;
}
svg{
    position: absolute;
}
#obiekt1{
    top: 0;
    left: 0;
    width: 1000px;
}
#obiekt2{
    top: 500px;
    left: 500px;
    width: 100px;
}
#historic-info{
    float: right;
    width: 35%;
    border: 2px solid black;
    text-align: center;
}
#political-system, #national-symbols{
    display: flex;
    justify-content:space-evenly;
}
.Belgium:hover{
    fill: orange;
}
img{
    height: 100px;
}
